.idea

camelot-ship-tours.sln.DotSettings.user
Api/bin
Api/obj

Application/bin
Application/obj

Application.Test/bin
Application.Test/obj

Identity/bin
Identity/obj

Identity.Test/bin
Identity.Test/obj

Domain/bin
Domain/obj

Interfaces/bin
Interfaces/obj

Persistence/bin
Persistence/obj